.wrap section .project {
    margin: 5px;
    padding: 10px;
    background-color: var(--light-text-color);
    border-radius: 0.5em;
}

.wrap section .project img {
    width: 100%;
    padding-block-start: 10px;
    padding-block-end: 10px;
    object-fit: contain;
}

.wrap section .project p {
    display: none;
}

.wrap section .project span {
    display: block;
    margin-top: -10px;
    font-size: xx-small;
    text-transform: uppercase;
    text-align: right;

    animation: up-and-down 1.5s infinite;
}
@keyframes up-and-down {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.wrap section .project img:hover + p {
    display: block;
}

.wrap section .project .foot {
    display: flex;
    justify-content: space-around;
}

/* For Light Version */
body.light .wrap section .project {
    background-color: #FFFFFF;
}

body.light .wrap section .project span {
    font-weight: 700;
}