.wrap section .projects {
    overflow: hidden auto;
}

.wrap section .projects .project {
    margin: 5px;
    padding: 10px;
    background-color: var(--light-text-color);
    border-radius: 0.5em;
}

.wrap section .projects .project img {
    width: 100%;
    padding-block-start: 10px;
    padding-block-end: 10px;
    object-fit: contain;
    cursor: pointer;
}

.wrap section .projects .project p {
    display: none;
}

.wrap section .projects .project span {
    display: block;
    margin-top: -10px;
    font-size: xx-small;
    text-transform: uppercase;
    text-align: right;

    animation: up-and-down 1.5s infinite;
}
@keyframes up-and-down {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.wrap section .projects .project img:hover + p {
    display: block;
}

.wrap section .projects .project .foot {
    display: flex;
    justify-content: space-around;
}

.wrap section .projects .project .foot a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 0.2em;
    background-color: var(--dark-primary-color);
    color: var(--light-text-color);
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
}

.wrap section .projects .project .foot a:hover {
    color: var(--dark-text-color);
}

/* ScrollBar - Chrome / Edge */
section .projects::-webkit-scrollbar {
    max-width: 5px;
    max-height: 90%;
    background-color: rgba(0,0,0,.15);
    border-radius: 0.2em;
}
section .projects::-webkit-scrollbar-thumb {
    background: var(--dark-primary-color);
    border-radius: 0.2em;
}
/* ************************* */

/* For Light Version */
body.light .wrap section .projects .project {
    background-color: #FFFFFF;
}

body.light .wrap section .projects .project .foot a {
    background-color: var(--light-primary-color);
    color: var(--dark-text-color);
}

body.light .wrap section .projects .project .foot a:hover {
    color: var(--light-text-color);
}

body.light .wrap section .projects .project span {
    font-weight: 700;
}

/* ScrollBar Light Version - Chrome / Edge */
body.light .wrap section .projects::-webkit-scrollbar-thumb {
    background: var(--light-primary-color);
    border-radius: 0.2em;
}
